<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default col-lg-12">
            <div class="navbar-header col-lg-2">
                <h2 (click)="home()">Speech Recogniser</h2>
            </div>
            <div class="col-lg-1">
                <button *ngIf="user" id="btn-test" [class]="isStopped ? 'btn btn-success col-lg-12' : 'btn btn-danger col-lg-12'" (click)="timer(isStopped);">
                    {{isStopped ? 'Start Test' : 'End Test'}}
                </button>
            </div>
            <div class="col-lg-2">
                <span *ngIf="user" class="navbar-brand user-name">Time - {{time || '00 : 00'}}</span>
            </div>
            <div class="col-lg-6">
                <span *ngIf="user" class="navbar-brand user-name pull-right text-right">Hello {{user?.displayName}}!</span>
            </div>
            <div class="col-lg-1">
                <button *ngIf="user" (click)="logout();" class="btn btn-danger pull-right col-lg-12">Logout</button>
            </div>
            <div [class]="user ? 'col-lg-1' : 'col-lg-10'">
                <button *ngIf="!user" (click)="login();" class="btn btn-success pull-right">Login</button>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h3>Input</h3>
        </div>
        <div class="col-lg-6">
            <h3>Output</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p id="text-sample">
                The Universe is everything we can touch, feel, sense, measure or detect. It includes living things, planets, stars, galaxies,
                dust clouds, light, and even time. Before the birth of the Universe, time, space and matter did not exist.
                The Universe contains billions of galaxies, each containing millions or billions of stars. The space between
                the stars and galaxies is largely empty. However, even places far from stars and planets contain scattered
                particles of dust or a few hydrogen atoms per cubic centimeter. Space is also filled with radiation (e.g.
                light and heat), magnetic fields and high energy particles (e.g. cosmic rays). The Universe is incredibly
                huge. It would take a modern jet fighter more than a million years to reach the nearest star to the Sun.
                Travelling at the speed of light (300,000 km per second), it would take 100,000 years to cross our Milky
                Way galaxy alone. No one knows the exact size of the Universe, because we cannot see the edge – if there
                is one. All we do know is that the visible Universe is at least 93 billion light years across. (A light year
                is the distance light travels in one year – about 9 trillion km.)
            </p>
        </div>
        <div id="text-generated" class="col-lg-6">
            <p id="text">recognised speech...</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h3>Difference</h3>
        </div>
        <div class="col-lg-4">
            <h3>Analysis</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div id="result"></div>
        </div>
        <div class="col-lg-4">
            <div id="analysis">
                <br>
                <ul *ngIf="speech" class="col-lg-offset-1 col-lg-9">
                    <li>
                        <span> Actual Word Count - </span>
                        <span class="pull-right"> {{speech.actualWordCount}} </span>
                    </li>
                    <li>
                        <span> Recognised Word Count - </span>
                        <span class="pull-right"> {{speech.recognisedWordCount}} </span>
                    </li>
                    <li>
                        <span> Correct Word Count - </span>
                        <span class="pull-right"> {{speech.correctWordCount}} </span>
                    </li>
                    <li>
                        <span> accuracy - </span>
                        <span class="pull-right"> {{speech.accuracy}}% </span>
                    </li>
                    <li>
                        <span> Completion Time - </span>
                        <span class="pull-right"> {{speech.completionTime}} seconds </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>