h4 {
    margin:  0;
    margin: 15px 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.navbar {
    background-color: #337ab7;
}

button {
    margin-top: 7px;
    font-weight: bold;
}

span.user-name {
    color: yellow;
    font-weight: bold;
    text-transform: capitalize;
}

h3 {
    text-align: center;
    margin: 0 0 10px 0;
    font-weight: bold;
}

p#text, #result, #analysis {
    border: solid thin black;
    text-align: justify;
    /* height: 400px; */
    max-height: 400px;
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    line-height: 25px;
    margin-bottom: 30px;
}

#result, #analysis {
    height: 300px;
    max-height: 300px;    
}

li {
    margin-top: 10px;
}

#image-sample {
    width: 100%;
}