.navbar {
    background-color: #337ab7;
}

#btn-test {
    margin-top: 8px;
    font-weight: bold;
}

span.user-name {
    color: yellow;
    font-weight: bold;
    text-transform: capitalize;
}

button.navbar-brand {
    color: white;
}

h3 {
    text-align: center;
    margin: 0 0 10px 0;
    font-weight: bold;
}

div#text-sample {
    border-right: thin solid black;
}

p#text, div#text-sample {
    text-align: justify;
    height: 600px;
    max-height: 600px;
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    line-height: 25px;
    font-size: 20px;
}